* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  /* font-family: 'Rubik', sans-serif; */
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);

  /* font-family: 'Bebas'; */
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  width: 100%;
  max-width: 320px;
  padding: 23.5px 86px 19.5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  border: 2px solid #F5F5F5;
  border-radius: 6px;
  background: transparent;
}


.btn-orange {
  max-width: 400px;
  border: transparent;
  background: #EA4C14;
  padding: 23.5px 65px 19.5px;
}

.btn-big {

  max-width: 436px;
  padding: 23.5px 65px 19.5px;
}

.title {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
  letter-spacing: 0.01em;
  color: #EFEFEF;
}