:root{
  --bg-color: #222224;
  --accent-color: #EA4C14; 
  --font-color: #EFEFEF;
  --light-color: #fff;
  --dark-color: #191919;  
  --grey-color: #D9D9D9;
  --grey-light-color: #E3E2E2;
  /* 
  бордер у ссылок 

  #E74214
  
  
  
  
  
  */
}