.accordion {

}

.accordion__item {
  padding-left: 56px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(157, 160, 163, 0.3);
  padding-top: 30px;
}

.accordion_house {
  padding-left: 127px;
}

.accordion__list-item {
  position: relative;
  padding-left: 28px;
}

.accordion__list-item::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 14px;
  height: 3.5px;
  width: 3.5px;
  background: #fff;
  border-radius: 50%;
}

.accordion__title {
  display: flex;
  cursor: pointer;
  transition: color 0.5s;
  position: relative;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: #fff;
  max-width: 618px;
}

.accordion__svg {
  margin-right: 15px;
  stroke: #f5f5f5;
}



.accordion__title.active {
  color: var(--accent-color);
}

.accordion__title.active .accordion__svg {
  stroke: var(--accent-color);
}

.accordion__title.active .accordion__svg path {
  stroke: var(--accent-color);
}

/* .accordion__title_3d::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 39px;
  margin-left: 18px;
 
} */

.accordion__title::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -26px;
  background-image: url(../../img/accordion/accordion.svg);
  width: 16px;
  height: 10px;
}

.accordion__title.active::before {
  background-image: url(../../img/accordion/accordion-accent.svg);

}


.accordion__text {
  max-width: 682px;
  margin-bottom: 18px;
}

.accordion__subtext{
  position: relative;
  padding-left: 22px;
  max-width: 731px;
}

.accordion__subtext span {
  color: var(--accent-color);
}

.accordion__subtext::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
  background: #fff;
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #EFEFEF;
  transition: max-height 0.5s;
}

.accordion__content-wrapper {
  margin-top: 24px;
  padding-bottom: 30px;
}


.accordion__images {
  display: flex;
  align-items: flex-end;
}

.accordion__img {
  position: relative;
}

.accordion__img_two {
  margin-left: -20px;
  z-index: 1;
}

.accordion__img_three {
  margin-left: -10px;
}

.accordion__tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0px 6px 6px 6px;
  padding: 7px 7px 7px 14px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #9DA0A3;
  opacity: 0;
  transition: opacity 0.5s;
}



.accordion__tooltip_one {
  right: -48px;
  bottom: 26px;

}

.accordion__tooltip_two {
  right: -48px;
  top: 26px;

}

.accordion__tooltip_three {
  right: -100px;
  bottom: -20px;

}

.accordion__img:hover .accordion__tooltip {
  opacity: 1;
}

/* .accordion__item.active .accordion__text {
  display: block;
} */