.footer__derections {
  display: flex;
  margin-bottom: 55px;
  margin-top: 65px;
}

.derections__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.derections__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #E74214;
  margin-left: 41px ;
}


@media(max-width: 800px) {
 
  .derections {
  
  } 
}