.filter {
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  margin-bottom: 26px;
  order: 3;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}


.filter.active {
  max-height: 500px;
}


.filter__btn {
  padding: 8px 30px 9px 34px;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  background: #2E2E31;
}


.filter__btn:hover  {
  color: var(--accent-color);
}


@media(max-width: 1900px) {
  .filter {
   
  }
}