.information {
  background: #2E2E31;
  padding-bottom: 400px;

}

.information__container {
  display: flex;
}

.container {}

.information__tabs {
  text-transform: uppercase;
  max-width: 534px;
  width: 100%;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  gap: 46px;
  padding-right: 48px;
  padding-top: 126px;
}

.information__tab {
  overflow-x: hidden;
  cursor: pointer;
  border-bottom: 1px solid rgba(157, 160, 163, 0.2);
  max-width: 535px;
  padding-bottom: 46px;
  transition: padding-left 0.5s;
}

.information__tab-title {
  position: relative;
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 0.01em;
}



.information__tab-title::before {
  content: "";
  position: absolute;
  left: -40px;
  width: 20px;
  height: 32px;
  background-image: url(../../img/advantages/advantages.svg);
}

.information__tab.active {
  padding-left: 45px;
}


.information__tab-title span {
  color: var(--accent-color);
}

.information__tab:last-child {
  border: none;
}


.information__contents {
  width: 100%;
  border-left: 1px solid rgba(157, 160, 163, 0.2);
  border-bottom: 1px solid rgba(157, 160, 163, 0.2);
  padding-top: 120px;
  padding-left: 60px;
  padding-bottom: 106px;
}

.information__content {

  display: none;

}

.information__subtitle {
  position: relative;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #FFF;
  padding-left: 20px;
  margin-bottom: 27px;
}

.information__subtitle span {
  color: #EA4C14;
}

.information__subtitle::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  height: 3.5px;
  width: 3.5px;
  border-radius: 50%;
  background: #FFF;
}

.information__subtitle_decor::before {
  display: none;
}

.information__subtitle_decor {
  padding-left: 0;
}


.information__list {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.information__item {
  position: relative;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #EFEFEF;
  padding-left: 30px;
}

.information__item::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  height: 3.5px;
  width: 3.5px;
  background: #FFF;
}

.information__box {
  display: flex;
  align-items: center;
}
.information__icon {
  margin-right: 7px;
}


.information__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-decoration-line: underline;
  color: #EA4C14;
}

.information__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #EA4C14;
  border-left: 2px solid var(--accent-color);
  margin-left: 80px;
  padding-left: 19px;
  margin-bottom: 30px;
}

.information__content.active {
  display: block;
}