.information {
  background: #2E2E31;
  padding-bottom: 400px;

}

.information__container {
  display: flex;
}

.container {}

.information__tabs {
  text-transform: uppercase;
  max-width: 534px;
  width: 100%;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  gap: 46px;
  padding-right: 48px;
  padding-top: 126px;
}

.information__tab {
  overflow-x: hidden;
  cursor: pointer;
  border-bottom: 1px solid #E3E2E2;
  max-width: 489px;
  padding-bottom: 46px;
}

.information__tab-title {
  position: relative;
  max-width: 486px;
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 0.01em;
  color: var(--accent-color);
}
.information__tab-title::before {
  content: "";
  position: absolute;
  left: -40px;
  width: 20px;
  height: 32px;
  background-image: url(../../img/advantages/advantages.svg);
}

.information__tab.active {
  padding-left: 45px;
}


.information__tab span {
  color: var(--accent-color);
}

.information__tab:last-child {
  border: none;
  padding-bottom: 0;
}



.information__tab.active {


}

.information__contents {
  width: 100%;
  border-left: 1px solid #9DA0A3;
  border-bottom: 1px solid #9DA0A3;
  padding-top: 120px;
  padding-left: 60px;
  padding-bottom: 106px;
}

.information__content {
  
  display: none;

} 

.information__subtitle {
  position: relative;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #FFF;
  padding-left: 20px;
  margin-bottom: 27px;
}

.information__subtitle::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  height: 3.5px;
  width: 3.5px;
  border-radius: 50%;
  background: #FFF;
}


.information__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #EA4C14;
  border-left: 2px solid var(--accent-color);
  margin-left: 80px;
  padding-left: 19px;
  margin-bottom: 30px;
}

.information__content.active {
  display: block;
}