.interest {
  padding-bottom: 600px;
}
.interest__info {
  padding-left: 275px;
}
.interest__content {
  display: flex;
}
.interest__content-box {
  display: flex;
}
.interest__number {
}
.interest__decor {
}
.interest__text {
}
.interest__title {
}
.title {
}
.interest__image {
}