.logo {
  margin-right: 77px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* min-height: 48px; */
}




@media(max-width:1200px) {
  .logo {
    margin-right: 40px;
  }
}

@media(max-width:768px) {
  .logo {
    flex-direction: row-reverse;
    align-items: flex-end;
  }

  .logo__small-img {
    margin-bottom: 5px;
    margin-left: 7px;
  }

}


@media(max-width:480px) {
  .logo__small-img {
    display: none;
  }

  .logo__big-img {
    width: 104px;
    height: 20px;
  }
}