.services {
  padding-bottom: 200px;
}


.services__title {
  margin-bottom: 80px;
}

@media (max-width: 1300px) {
  
  .services__title {
    text-align: center;
  }
}

@media (max-width: 760px) {
  .services {
    
  }
  
  .services__title {
    display: none;
  }
}